
H1 {
	margin: 0;
    	padding: 0;
	Text-align: center;
}

h2 {
    	font-size: 40px;
    	letter-spacing: 2px;
    	text-align: center;
}
.img1 {
   	display: block;
    	margin: 0 auto;
	width: 250px;
   	height: 250px;
    	border-radius: 50%;
    	object-fit: cover;
}



header {
    background-color: var(--primary);
    background-image: repeating-linear-gradient(
        45deg,
        rgba(255, 255, 255, 0.2) 0px,
        rgba(255, 255, 255, 0.2) 10px,
        transparent 10px,
        transparent 20px
	padding: 20px 0;
    );
}


footer {
    	background: var(--dark);
    	color: white;
    	text-align: center;
    	padding: 1rem 0;
    	margin-top: 2rem;
}

/* Use of variables to set and apply a consistent colour scheme, readable font family, etc, across all pages.*/
:root {
    --primary: #A0D2EB;
    --secondary: #E5EAF5;
    --light: #f8fafc;
    --dark: #0f172a;
    --font-main: Arial, Helvetica, sans-serif;


}

/* Add padding, margin, and borders to all sections for a consistent and organised layout */
section {
    padding: 20px;
    margin: 15px ;
    border: 2px solid var(--primary);
    border-radius: 30px;
    width: 90%;
}


/* Use at least 3 different selectors. For example, element, class, and id selectors. */
.navbar {
    	background-color: var(--primary);
	display: flex;
    	align-items: center;
    	justify-content: space-between;
    	padding: 10px 20px;
}

#home {
    	background-color: var(--secondary);
}


body {
    	font-family: var(--font-main);
    	background-color: var(--light);
    	color: var(--dark);
    	margin: 0;
	background-image: repeating-linear-gradient(
        45deg,                  
        rgba(0,0,0,0.05) 0px,   
        rgba(0,0,0,0.05) 10px, 
        transparent 10px,       
        transparent 20px        
    );

    background-size: 20px 20px; /* Controls repeat distance */
}	

/* Pseudo classes */
.navbar a:hover {
    	background-color: var(--primary);
    	color: white;
    	transition: 0.3s ease;
}


.navbar ul {
    	display: flex;
    	flex-direction: column;
    	gap: 8px;
    	list-style: none;
    	padding: 0;
}

.navbar a {
    	text-decoration: none;
    	color: white;
    	font-weight: bold;
    	padding: 5px 10px;
    	transition: 0.3s;
}

.navbar a.active {
    	background-color:var(--dark);
    	border-radius: 5px;
}

/*Design for mobile screen size (min 600px); desktop screen size: (min 950px)*/

@media (min-width: 600px) {

   	.navbar ul {
        	flex-direction: row;
        	justify-content: center;
    	}

    	section {
        	width: 85%;
        	margin: 20px auto;
   	}

    .img1 {
       		width: 200px;
        	height: 200px;
    	}
}

@media (min-width: 950px) {

    main {
        	display: grid;
        	grid-template-columns: 2fr 1fr;
        	gap: 20px;
        	width: 90%;
        	margin: 0 auto;
    	}

    section {
        	padding: 40px;
    }

    .img1 {
        	width: 250px;
        	height: 250px;
    }
}


.logo {
    	width: 100px;
    	height: auto;
}

 .contact {
    	color: #555;
    	margin-bottom: 25px;
	text-align :center;
	
  }
.image-row {
    display: flex;               
    justify-content: center;     
    gap: 20px;                   
    margin: 2rem 0;
}

.row-img {
    width: 100px;              
    height: 100px;               
    object-fit: cover;           
    border-radius: 10px;         
    box-shadow: 0 4px 8px rgba(0,0,0,0.2); 
}

.cards {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 30px;
}

.card {
    background-color: var(--primary);
    width: 200px;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}


